In [ ]:
Connecting to database steps:

In [42]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%sql postgresql://appdev@data/appdev

'Connected: appdev@appdev'

In [ ]:

1. The union of all the tracks with genreid 18 and 20:

In [43]:
%sql SELECT * FROM track WHERE genreid=18 UNION SELECT * FROM track WHERE genreid=20 ORDER BY genreid;

39 rows affected.

[(2829, 'The Eye of Jupiter', 227, 3, 18, None, 2618750, 517909587, Decimal('1.99')),
 (2828, 'The Passage', 227, 3, 18, None, 2623875, 490375760, Decimal('1.99')),
 (2834, 'Dirty Hands', 227, 3, 18, None, 2627961, 537648614, Decimal('1.99')),
 (2825, 'A Measure of Salvation', 227, 3, 18, None, 2563938, 489715554, Decimal('1.99')),
 (2819, 'Battlestar Galactica: The Story So Far', 226, 3, 18, None, 2622250, 490750393, Decimal('1.99')),
 (2836, 'The Son Also Rises', 227, 3, 18, None, 2621830, 499258498, Decimal('1.99')),
 (2830, 'Rapture', 227, 3, 18, None, 2624541, 508406153, Decimal('1.99')),
 (2826, 'Hero', 227, 3, 18, None, 2713755, 506896959, Decimal('1.99')),
 (2835, 'Maelstrom', 227, 3, 18, None, 2622372, 514154275, Decimal('1.99')),
 (2832, 'The Woman King', 227, 3, 18, None, 2626376, 552893447, Decimal('1.99')),
 (2831, 'Taking a Break from All Your Worries', 227, 3, 18, None, 2624207, 492700163, Decimal('1.99')),
 (2827, 'Unfinished Business', 227, 3, 18, None, 2622038, 528499160, Decimal('1.99')),
 (2833, 'A Day In the Life', 227, 3, 18, None, 2620245, 462818231, Decimal('1.99')),
 (3234, 'The Gun On Ice Planet Zero, Pt. 2', 253, 3, 20, None, 2924341, 546542281, Decimal('1.99')),
 (3241, 'War of the Gods, Pt. 2', 253, 3, 20, None, 2923381, 487899692, Decimal('1.99')),
 (3245, 'Greetings from Earth, Pt. 2', 253, 3, 20, None, 2903778, 527842860, Decimal('1.99')),
 (3235, 'The Magnificent Warriors', 253, 3, 20, None, 2924716, 570152232, Decimal('1.99')),
 (3231, 'The Lost Warrior', 253, 3, 20, None, 2920045, 558872190, Decimal('1.99')),
 (3247, 'Experiment In Terra', 253, 3, 20, None, 2923548, 547982556, Decimal('1.99')),
 (3246, "Baltar's Escape", 253, 3, 20, None, 2922088, 525564224, Decimal('1.99')),
 (3233, 'The Gun On Ice Planet Zero, Pt. 1', 253, 3, 20, None, 2907615, 540980196, Decimal('1.99')),
 (3232, 'The Long Patrol', 253, 3, 20, None, 2925008, 513122217, Decimal('1.99')),
 (3229, 'Lost Planet of the Gods, Pt. 1', 253, 3, 20, None, 2922547, 537812711, Decimal('1.99')),
 (3236, 'The Young Lords', 253, 3, 20, None, 2863571, 587051735, Decimal('1.99')),
 (3240, 'War of the Gods, Pt. 1', 253, 3, 20, None, 2922630, 505761343, Decimal('1.99')),
 (3248, 'Take the Celestra', 253, 3, 20, None, 2927677, 512381289, Decimal('1.99')),
 (3237, 'The Living Legend, Pt. 1', 253, 3, 20, None, 2924507, 503641007, Decimal('1.99')),
 (3243, 'Murder On the Rising Star', 253, 3, 20, None, 2935894, 551759986, Decimal('1.99')),
 (3238, 'The Living Legend, Pt. 2', 253, 3, 20, None, 2923298, 515632754, Decimal('1.99')),
 (3230, 'Lost Planet of the Gods, Pt. 2', 253, 3, 20, None, 2914664, 534343985, Decimal('1.99')),
 (3249, 'The Hand of God', 253, 3, 20, None, 2924007, 536583079, Decimal('1.99')),
 (3226, 'Battlestar Galactica, Pt. 1', 253, 3, 20, None, 2952702, 541359437, Decimal('1.99')),
 (3242, 'The Man With Nine Lives', 253, 3, 20, None, 2956998, 577829804, Decimal('1.99')),
 (2837, 'Crossroads, Pt. 1', 227, 3, 20, None, 2622622, 486233524, Decimal('1.99')),
 (3228, 'Battlestar Galactica, Pt. 3', 253, 3, 20, None, 2927802, 554509033, Decimal('1.99')),
 (3227, 'Battlestar Galactica, Pt. 2', 253, 3, 20, None, 2956081, 521387924, Decimal('1.99')),
 (3239, 'Fire In Space', 253, 3, 20, None, 2926593, 536784757, Decimal('1.99')),
 (2838, 'Crossroads, Pt. 2', 227, 3, 20, None, 2869953, 497335706, Decimal('1.99')),
 (3244, 'Greetings from Earth, Pt. 1', 253, 3, 20, None, 2960293, 536824558, Decimal('1.99'))]

In [ ]:

2. The intersection of all the invoices that are cheaper than 10 dollars 
and the invoices that are more expensive than 5 dollars:

In [41]:
%sql SELECT * FROM invoice WHERE total < 10 INTERSECT SELECT * FROM invoice WHERE total > 5 LIMIT 10;

10 rows affected.

[(396, 18, datetime.datetime(2013, 10, 8, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', Decimal('8.91')),
 (290, 32, datetime.datetime(2012, 6, 27, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', Decimal('5.94')),
 (185, 52, datetime.datetime(2011, 3, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', Decimal('5.94')),
 (53, 44, datetime.datetime(2009, 8, 11, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', Decimal('8.91')),
 (10, 46, datetime.datetime(2009, 2, 3, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, Decimal('5.94')),
 (172, 41, datetime.datetime(2011, 1, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '11, Place Bellecour', 'Lyon', None, 'France', '69002', Decimal('8.91')),
 (52, 38, datetime.datetime(2009, 8, 8, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', Decimal('5.94')),
 (205, 44, datetime.datetime(2011, 6, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', Decimal('7.96')),
 (94, 30, datetime.datetime(2010, 2, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', Decimal('5.94')),
 (220, 6, datetime.datetime(2011, 8, 22, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', Decimal('5.94'))]

In [ ]:

3. The set of all customers from USA, 
subtracted by the set of all customers with an email ending in 'yahoo.com':

In [ ]:

4. The union of the set of all albums playing something by Mozart 
and the set of all albums playing something with Bach: